#superior,#inferior{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    align-content: center;
}

/*ion-input:hover{
    --background: rgb(184, 209, 156);
}
p{
    --background: rgb(184, 209, 156);
}*/
#scrollcontainer{
    text-align:center;
    position:absolute;
    left:30%;
    right:30%;
}